<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
	<title>Document</title>
</head>

<body>
	<header>

	</header>
	<main>
		<div class="brand">
			<div class="wrapper-logo">
				<img class="logo" src="/img/logo.png">
			</div>
			<div class="wrapper-title">
				<div class="title">
					ulstutimebot
				</div>
			</div>
		</div>
		<p class="css-typing">
			Расписание политеха у тебя в кармане
		</p>
		<div class="groups-links">
			<a href="https://t.me/ulstutimebot" target="_blank" class="group-link">
				<img src="/img/telegram-mono.png" id="group-telegram-img" class="group-link-img">
			</a>
			<a href="https://vk.com/ulstutimebot" target="_blank" class="group-link">
				<img src="/img/vk-mono.png" class="group-link-img">
			</a>
		</div>
	</main>
</body>

</html>